.cards{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.8rem;
    padding: 0px !important;
}
.card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-top: 5px solid #ffc107;
}
.cards img{
    max-width: 200px;
    height: auto;
    border-radius: 0.8rem 0.8rem 0 0;
}
.card-infobox{
    position: absolute;
    background-color: white;
    width: 200px;
    height: 300px;
    opacity: 0.0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.cards-info{
    margin: 30px;
}
.card-description{
    font-size: 10px;
    text-align: center;
}

.cards a:active,.cards a:hover,.cards a:visited,.cards a:link{
    text-decoration: none;
    color: black;
}
.card-infobox:hover{
    opacity: 0.96;
}