.left-serials-info{
    display: inline-block;
    float: left;
    align-self: flex-start;
    margin-bottom: 20px;
    z-index: 1;
}

.left-serials-info > img{
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4) !important;
}

.main-serials-info{
    max-width: 80%;
    align-self: flex-start;
    margin-left: 20px;
    margin-right: 0px;
    z-index: 1;
}
.serial-title{
    border-bottom: 5px solid #ffc107;
    color: white;
}
.serial-rating{
    margin-top: 10px !important;
    height: 40px;
    color: white;
}
.serial-information{
    margin-top: 10px;
    color: white;
    margin-bottom: 60px;
}
.nomp{
    margin: 0px !important;
    padding: 0px !important;
}

.genre{
    background-color: tomato;
    height: 20px;
    margin-right: 4px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px 4px 22px 4px;
    border-radius: 4px;
    font-weight: 500;
}
.genres-container{
    justify-content: left;
    margin-bottom: 10px;
}
.rating-description{
    float: right;
    margin: 0;
    padding: 0;
    height: 20px;
    clear: both;
}
.streaming-platform{
    width: 100%;
    height: 40px;
    margin-top: 5px !important;
}
.streaming-platforms-title{
    margin-top: 10px;
    width: 100%;
}
.back-img{
    height: 340px;
    width: 100%;
    position: absolute;
    z-index: -5;
    background-size: cover;
    align-self: flex-start;
    margin-top: -20px;
    display: inline-block;
}
.back-img-cover{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.7;
}
.serial-container{
    background-size: cover;
    position: relative;
    padding: 20px 0 20px 0;
    margin-top: 0px;
}
.serial-actors{
    overflow-x: auto;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.streaming-platform-holder{
    width: 200px;
    display: inline-block;
    float: left;
    align-self: flex-start;
    margin-bottom: 20px;
    z-index: 1;
}