.result{
    background-color: rgb(33, 33, 33);
    position: relative;
    padding: 20px 0 0 0;
    border: 4px rgb(115, 115, 115) solid;
    border-radius: 10px;
}

.thumbnail{
    display: inline-block;
    float: left;
    align-self: flex-start;
    margin-bottom: 20px;
    z-index: 1;
}

.thumbnail > img{
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4) !important;
}

.search-filters{
    width: 200px;
    display: inline-block;
    float: left;
    align-self: flex-start;
    margin-bottom: 20px;
    z-index: 1;
}
.search-results{
    max-width: 80%;
    align-self: flex-start;
    margin-left: 20px;
    margin-right: 0px;
    z-index: 1;
}