{% extends '/html/search.html' %}

{% block results %}
    <div class="search-filters">
        <p>test13212</p>
    </div>
    <div class="search-results">
        {% for result in results %}
            <div class="result">
                <div class='back-img-cover'></div>
                <div class="left-section">
                    <h2 class="nomp"><b>{{result.titleOriginal}}</b> ({{result.released[:4]}})</h2>
                    <h6>
                        Sezony: {{result.totalSeasons}} 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        </svg>
                        Odcinki: {{result.totalEpisodes}}
                    </h6>
                    <div class="flex-container genres-container">
                        {% for genreName in result.genres %}
                            <div class="genre badge text-center">
                                <p>{{genreName}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mid-section">
                    <p>{{result.plot}}</p>
                </div>
                <div class="right-section">
                    <div class="serial-rating">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{details.ratings['rating']*10}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="rating-description" title="Glosów: {{details.ratings['votes']}}" rel="tooltip" data-placement="bottom"><p>Ocena: {{details.ratings['rating']}}/10</p></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}